.word {
  font-size: 4em;
  padding: 0 20px;
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: 700;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  color: #aeb5b8;
  justify-content: center;
  height: 90px;
  transition: color 500ms;

  font-family: "Noto Sans", sans-serif;
}
.list {
  height: 90px;
  padding: 240px 0;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.list::-webkit-scrollbar {
  display: none;
}
.selected_word {
  color: #ec818c;
}
